@mixin centerElement() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  MEDIA QUERIES:
  0 - 600px --> Phone
  600 - 900px --> Tablet portrait
  900 - 1200px --> Tablet landscape
  1200 - 1800px --> Desktop first approach(done)  
  1800px+ --> Big desktop  
*/

/*
  $breakpoint argument choices: 
  - phone
  - tab-port
  - tab-land
  - big-desktop
*/

$phone: 600;
$tab-port: 900;
$tab-land: 1200;
$big-desktop: 1800;

@mixin respondMax($breakpoint) {
  @media only screen and (max-width: #{($breakpoint/16) * 1em}) {
    @content;
  }
}

@mixin respondMin($breakpoint) {
  @media only screen and (min-width: #{($breakpoint/16) * 1em}) {
    @content;
  }
}
