*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respondMax($tab-land) {
    font-size: 56.25%;
  }

  @include respondMax($tab-port) {
    font-size: 50%;
  }

  @include respondMin($big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Lato";
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark-1;
  padding: 3rem;

  @include respondMax($tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
